<div class="p-inputgroup">
  <span class="p-float-label">
    <input id="acc" name="acc" type="text" disabled="disabled" pInputText [(ngModel)]="selectedLabel" [placeholder]="placeholder">
    <label for="acc">{{label}}</label>
  </span>
  <button pButton type="button" icon="pi pi-search" class="p-inputgroup-addon" (click)="show()"></button>
  <button pButton type="button" icon="pi pi-times" class="p-inputgroup-addon" (click)="clear()"></button>
  <p-dialog #op [(visible)]="visible">
      <p-tree [value]="accounts" (onNodeExpand)="onNodeExpand($event)" [filter]="true"
              selectionMode="single" (onNodeSelect)="nodeSelect($event)">
      </p-tree>
  </p-dialog>
</div>
