<div class="p-inputgroup">
  <span class="p-float-label">
    <input id="acc" name="acc" type="text" disabled="disabled" pInputText [(ngModel)]="account.name">
    <label for="acc">{{label}}</label>
  </span>
  <button pButton type="button" icon="pi pi-search" class="p-inputgroup-addon" (click)="op.toggle($event)"></button>
  <button pButton type="button" icon="pi pi-times" class="p-inputgroup-addon" (click)="clear()"></button>
  <p-overlayPanel #op>
    <ng-template pTemplate>
      <p-tree [value]="accounts" (onNodeExpand)="onNodeExpand($event)" [filter]="true"
              selectionMode="single" (onNodeSelect)="nodeSelect($event, op)">
      </p-tree>
    </ng-template>
  </p-overlayPanel>
</div>
