<p>Compte :
  <a routerLink="/accounts/properties/{{account.id}}" *ngIf="user.admin">{{account.name ? account.name : "(sans nom)"}}</a>
  <span *ngIf="!user.admin">{{account.name}}</span>
</p>
<div *ngIf="subAccounts.length>0">
  {{subAccounts.length}} sous-compte(s):

  <div *ngFor="let sub of subAccounts">
    <p-card routerLink="/accounts/details/{{sub.id}}">
      {{sub.name}}
      <div style="float:right">
        <app-balance [account]="sub"></app-balance>
      </div>
    </p-card>
  </div>
</div>

<div *ngIf="subAccounts.length==0">
  <p-contextMenu #cm [model]="contextMenu"></p-contextMenu>
  <p-button *ngIf="showMoreLines()" (click)="loadMoreLines()">Afficher les {{PAGE_SIZE}} lignes précédentes</p-button>
  <div class="p-grid p-fluid">
    <div class="p-d-none p-d-md-block p-md-2"><p-checkbox title="Tout sélectionner" [binary]="true" *ngIf="account.reconcilable && user.admin" (onChange)="onSelectAll($event)" [(ngModel)]="selectAll"></p-checkbox>Date</div>
    <div class="p-d-none p-d-md-block p-md-2">Référence</div>
    <div class="p-col-4 p-md-3">Description</div>
    <div class="p-col-3 p-md-2">Compte</div>
    <div class="amount p-d-none p-d-md-block p-md-1">Débit</div>
    <div class="amount p-d-none p-d-md-block p-md-1">Crédit</div>
    <div class="amount p-d-block p-col-2 p-d-md-none">+/-</div>
    <div class="amount p-col-3 p-md-1">Solde</div>
  </div>
  <div *ngFor="let entry of entries" class="ecritures">
    <div class="p-grid p-fluid" (contextmenu)="openContextMenu(entry);cm.show($event)">
      <div class="p-d-none p-d-md-block p-md-2">
        <p-checkbox title="Sélectionner" [binary]="true" [(ngModel)]="entry.transaction.selected" *ngIf="account.reconcilable"></p-checkbox>
        <button type="button" pButton (click)="toggleExpand(entry)"
                class="p-button-text p-button-rounded p-button-plain" [icon]="isExpanded(entry) ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" style="float:left"></button>
        <span>{{entry.date | date : 'shortDate' }}</span>
      </div>
      <div class="p-d-none p-d-md-block p-md-2">{{entry.reference}}</div>
      <div class="p-col-4 p-md-3">{{entry.transaction.description}}</div>
      <div class="p-col-3 p-md-2">
        <!--
        {{entry.contreparties && entry.contreparties.length>0 && entry.contreparties.length<3 ? entry.contreparties[0].account.name : ''}}
        {{entry.contreparties && entry.contreparties.length>1 && entry.contreparties.length>=3 ? 'Transaction répartie' : ''}}
        -->
        {{entry.contrepartieAccountName}}
      </div>
      <div class="amount p-d-none p-d-md-block p-md-1"><span *ngIf="entry.debit || entry.debit != 0">  {{entry.debit | currency : 'EUR'}}</span></div>
      <div class="amount p-d-none p-d-md-block p-md-1">
        <span *ngIf="entry.credit || entry.credit != 0">{{entry.credit | currency: 'EUR'}}</span>
      </div>
      <div class="amount p-d-block p-col-2 p-d-md-none">{{creditDebit(entry) | currency: 'EUR'}}
      </div>
      <div class="amount p-col-3 p-md-1">{{entry.balance | currency: 'EUR'}}</div>

    </div>
    <div *ngIf="isExpanded(entry)" class="contrepartie">
      <div *ngFor="let ctp of entry.transaction.entries" class="p-grid p-fluid">
        <div class="p-col-12 p-col-6 p-md-2">
        </div>
        <div class="p-col-12 p-col-6 p-md-2">{{ctp.reference}}</div>
        <div class="p-col-12 p-col-6 p-md-3">{{ctp.description}}</div>
        <div class="p-col-12 p-col-6 p-md-2">{{ctp.account.name}}</div>
        <div class="amount p-col-12 p-col-6 p-md-1"><span *ngIf="ctp.debit || ctp.debit != 0">{{ctp.debit | currency: 'EUR'}}</span></div>
        <div class="amount p-col-12 p-col-6 p-md-1"><span *ngIf="ctp.credit || ctp.credit != 0">{{ctp.credit | currency: 'EUR'}}</span></div>
        <div class="amount p-col-12 p-col-6 p-md-1"></div>
      </div>
    </div>
  </div>
</div>

<p-button routerLink="/transactions/create/{{account.id}}" *ngIf="writeAllowed && subAccounts.length == 0">Saisir une écriture</p-button>&nbsp;
<p-button routerLink="/accounts/create" *ngIf="user.admin">Créer un sous-compte</p-button>
<span *ngIf="account.reconcilable">&nbsp;
  <p-button (click)="reconcile()">Rapprocher</p-button>&nbsp;
  <p-button *ngIf="user.admin" (click)="markReconciled(true)">Marqué comme rapproché</p-button>&nbsp;
  <p-button *ngIf="user.admin" (click)="markReconciled(false)">Marqué comme non rapproché</p-button>&nbsp;
  <p-inputSwitch id="showReconciled" name="showReconciled" [(ngModel)]="showReconciled" (onChange)="reconciledChanged()"></p-inputSwitch><label for="showReconciled">Afficher les lignes déja pointées</label>
</span>
<p-confirmDialog></p-confirmDialog>
