.amount {
  text-align: right !important;
}


:host ::ng-deep .contrepartie {
    background-color: #f4fafe !important;
  }

div.ecritures:nth-child(2n) {
  background-color: #fafafa !important;
}

.contrepartie {
  background-color: #f4fafe !important;
}

:host ::ng-deep .rowExpanded {
  background-color: #a0d2fa !important;
}

:host ::ng-deep .p-card {
  margin-bottom:2px;
}
