<div class="flex accountTitle">
  <div class="flex-none">
    <div class="flex align-items-center justify-content-center bg-{{account.color}}-100 border-round" style="width:3rem;height:3rem">
      <i class="{{account.icon}} text-{{account.color}}-500 text-2xl"></i>
    </div>

  </div>
  <div class="flex-1 accountName">
    <button pButton class="p-button-text text-2xl text-gray-500 " routerLink="/accounts/properties/{{account.id}}" *ngIf="user.admin">{{account.name ? account.name : "(sans nom)"}}</button>
    <button pButton class="p-button-text text-2xl text-gray-500 " *ngIf="!user.admin">{{account.name ? account.name : "(sans nom)"}}</button>
  </div>
  <div class="flex-none">
    <button pButton class="p-button-outlined " icon="pi pi-backward" (click)="loadMoreLines()" pTooltip="Afficher les {{PAGE_SIZE}} lignes précédentes"></button>
    <button pButton class="p-button-outlined " icon="pi pi-chart-line" routerLink="/accounts/stats/{{account.id}}"></button>
    <button pButton class="p-button-outlined " icon="pi pi-ellipsis-v" (click)="buildAndShowMenu($event)"></button>
    <p-menu #menu [popup]="true" [model]="accountMenu"></p-menu>
  </div>
</div>

<p></p>
<div *ngIf="subAccounts.length>0">
  {{subAccounts.length}} sous-compte(s):

  <div *ngFor="let sub of subAccounts">
    <p-card routerLink="/accounts/details/{{sub.id}}">
      {{sub.name}}
      <div style="float:right">
        <app-balance [account]="sub"></app-balance>
      </div>
    </p-card>
  </div>
</div>

<div *ngIf="subAccounts.length==0">
  <p-contextMenu #cm [model]="contextMenu"></p-contextMenu>
  <div class="grid p-fluid">
    <div class="hidden md:block md:col-2"><p-checkbox title="Tout sélectionner" [binary]="true" *ngIf="account.reconcilable && user.admin" (onChange)="onSelectAll($event)" [(ngModel)]="selectAll"></p-checkbox>Date</div>
    <div class="hidden md:block md:col-2">Référence</div>
    <div class="col-4 md:col-3">Description</div>
    <div class="col-3 md:col-2">Compte</div>
    <div class="amount hidden md:block md:col-1">Débit</div>
    <div class="amount hidden md:block md:col-1">Crédit</div>
    <div class="amount block col-2 md:hidden">+/-</div>
    <div class="amount col-3 md:col-1">Solde</div>
  </div>
  <div *ngFor="let entry of entries" class="ecritures">
    <div class="grid p-fluid" (contextmenu)="openContextMenu(entry);cm.show($event)">
      <div class="hidden md:block md:col-2">
        <p-checkbox title="Sélectionner" [binary]="true" [(ngModel)]="entry.transaction.selected" *ngIf="account.reconcilable"></p-checkbox>
        <button type="button" pButton (click)="toggleExpand(entry)"
                class="p-button-text p-button-rounded p-button-plain" [icon]="isExpanded(entry) ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" style="float:left"></button>
        <span>{{entry.date | date : 'shortDate' }}</span>
      </div>
      <div class="hidden md:block md:col-2">{{entry.reference}}</div>
      <div class="col-4 md:col-3">{{entry.transaction.description}}</div>
      <div class="col-3 md:col-2">
        <!--
        {{entry.contreparties && entry.contreparties.length>0 && entry.contreparties.length<3 ? entry.contreparties[0].account.name : ''}}
        {{entry.contreparties && entry.contreparties.length>1 && entry.contreparties.length>=3 ? 'Transaction répartie' : ''}}
        -->
        {{entry.contrepartieAccountName}}
      </div>
      <div class="amount hidden md:block md:col-1"><span *ngIf="entry.debit || entry.debit != 0">  {{entry.debit | currency : 'EUR'}}</span></div>
      <div class="amount hidden md:block md:col-1">
        <span *ngIf="entry.credit || entry.credit != 0">{{entry.credit | currency: 'EUR'}}</span>
      </div>
      <div class="amount block col-2 md:hidden">{{creditDebit(entry) | currency: 'EUR'}}
      </div>
      <div class="amount col-3 md:col-1">{{entry.balance | currency: 'EUR'}}</div>

    </div>
    <div *ngIf="isExpanded(entry)" class="contrepartie">
      <div *ngFor="let ctp of entry.transaction.entries" class="grid p-fluid">
        <div class="col-12 col-6 md:col-2">
        </div>
        <div class="col-12 col-6 md:col-2">{{ctp.reference}}</div>
        <div class="col-12 col-6 md:col-3">{{ctp.description}}</div>
        <div class="col-12 col-6 md:col-2">{{ctp.account.name}}</div>
        <div class="amount col-12 col-6 md:col-1"><span *ngIf="ctp.debit || ctp.debit != 0">{{ctp.debit | currency: 'EUR'}}</span></div>
        <div class="amount col-12 col-6 md:col-1"><span *ngIf="ctp.credit || ctp.credit != 0">{{ctp.credit | currency: 'EUR'}}</span></div>
        <div class="amount col-12 col-6 md:col-1"></div>
      </div>
    </div>
  </div>
</div>

<span *ngIf="account.reconcilable">&nbsp;
  <p-button (click)="reconcile()">Rapprocher</p-button>&nbsp;
  <p-button *ngIf="user.admin" (click)="markReconciled(true)">Marqué comme rapproché</p-button>&nbsp;
  <p-button *ngIf="user.admin" (click)="markReconciled(false)">Marqué comme non rapproché</p-button>&nbsp;
  <p-inputSwitch id="showReconciled" name="showReconciled" [(ngModel)]="showReconciled" (onChange)="reconciledChanged()"></p-inputSwitch><label for="showReconciled">Afficher les lignes déja pointées</label>
</span>
<p-confirmDialog></p-confirmDialog>
