<div *ngIf="loggedIn">
  <div class="p-d-flex p-jc-between toolbar" *ngIf="!maquette">
    <div class="p-d-flex p-jc-start">
      <button type="button" pButton icon="pi pi-bars" (click)="menu.toggle($event)"></button>
      <p-menu #menu [popup]="true" [model]="mainMenuContent"></p-menu>
      <a class="title" routerLink="/">
        <img src="assets/piggybank.png" height="24" alt="Piggybank logo">
        PiggyBank
      </a>
    </div>
    <div>
      <p-button icon="pi pi-refresh" (click)="refresh()"></p-button>
      <p-button icon="pi pi-cog"  routerLink="/admin/users"></p-button>
      <p-button icon="pi pi-user" (click)="userMenu.toggle($event)"></p-button>
      <p-menu #userMenu [popup]="true" [model]="userMenuContent"></p-menu>
    </div>
  </div>

  <div class="mainContent">
    <router-outlet></router-outlet>
  </div>
</div>


<div *ngIf="!loggedIn">
  Connexion OpenID en cours...
</div>


<p-toast></p-toast>
<p class="footer">PiggyBank API {{version}}</p>
<p class="footer">App v2.1.2</p>

