<div *ngIf="user && user.login">
  <div class="p-d-flex p-jc-between toolbar">
    <div class="p-d-flex p-jc-start">
      <button type="button" pButton icon="pi pi-bars" (click)="menu.toggle($event)"></button>
      <p-menu #menu [popup]="true" [model]="mainMenuContent"></p-menu>
      <a class="title" routerLink="/">
        <i class="pi pi-wallet"></i>
        PiggyBank
      </a>
    </div>
    <div>
      <p-button icon="pi pi-cog"></p-button>
      <p-button icon="pi pi-user" (click)="userMenu.toggle($event)"></p-button>
      <p-menu #userMenu [popup]="true" [model]="userMenuContent"></p-menu>
    </div>
  </div>


  <router-outlet></router-outlet>
</div>



<div *ngIf="!user || !user.login">
  <app-login></app-login>
</div>

<p-toast></p-toast>
<p class="footer">PiggyBank API {{version}}</p>
