<p-contextMenu #cm [model]="contextMenu"></p-contextMenu>
<p-confirmDialog></p-confirmDialog>

<p-table [value]="transactions" [contextMenu]="cm" [(contextMenuSelection)]="selectedTransaction">
  <ng-template pTemplate="caption">
    <div class="table-header">
      Mes saisies rapides
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <td>Description</td>
  </ng-template>
  <ng-template pTemplate="body" let-txn>
    <tr [pContextMenuRow]="txn">
      <td>{{txn.description}}</td>
    </tr>
  </ng-template>
</p-table>
<br>
<p-button routerLink="/transactions/createQuick">Nouvelle saisie rapide</p-button>
