<div *ngIf="transaction.entries && transaction.entries.length>0">

<div *ngIf="recurMode">
  <p>Propriétés de la transaction récurrente</p>
  <div class="p-fluid">
    <div class="p-field col-12 md:col-4">
        <span class="p-float-label">
          <p-calendar id="recurStartDate" name="recurStartDate" [(ngModel)]="transaction.recurStartDate" dateFormat="dd/mm/yy"></p-calendar>
          <label for="recurStartDate">Première exécution*</label>
        </span>
    </div>
    <div class="p-field col-12 md:col-4">
        <span class="p-float-label">
          <p-calendar id="recurNextDate" name="recurNextDate" [(ngModel)]="transaction.recurNextDate" dateFormat="dd/mm/yy"></p-calendar>
          <label for="recurEndDate">Prochaine exécution</label>
        </span>
    </div>
    <div class="p-field col-12 md:col-4">
        <span class="p-float-label">
          <p-calendar id="recurEndDate" name="recurEndDate" [(ngModel)]="transaction.recurEndDate" dateFormat="dd/mm/yy"></p-calendar>
          <label for="recurEndDate">Dernière exécution</label>
        </span>
    </div>
  </div>
</div>


<div class="grid p-fluid">
  <div class="col-12 md:col-6 lg:col-2">
    <button *ngIf="!quickMode" type="button" pButton (click)="toggleExpand()"
            class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" style="float:left"></button>
    <div style="float:left;margin-top:16px"><p-inputSwitch *ngIf="!quickMode && !recurMode" [(ngModel)]="transaction.reconciled" title="Transaction rapprochée"></p-inputSwitch></div>
    <p-calendar *ngIf="!quickMode" [(ngModel)]="transaction.entries[0].date" appendTo="body" dateFormat="dd/mm/yy" (ngModelChange)="changeDate($event)"></p-calendar>
  </div>
  <div class="col-12 md:col-6 lg:col-1" *ngIf="!quickMode"><input type="text" pInputText [(ngModel)]="transaction.entries[0].reference" placeholder="Référence"></div>
  <div class="col-12 md:col-6 lg:col-2"><input type="text" pInputText [(ngModel)]="transaction.description" placeholder="Description"></div>
  <div class="col-12 md:col-6 lg:col-3" *ngIf="quickMode">
    <app-account-selector (onAccountSelect)="setAccount($event, transaction.entries[0])" [account]="transaction.entries[0].account" placeholder="Depuis"></app-account-selector>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <app-account-selector (onAccountSelect)="setAccount($event, transaction.entries[1])" [account]="transaction.entries[1].account" *ngIf="!isSplitTransaction()" [placeholder]="quickMode ? 'Vers' : 'Compte'"></app-account-selector>
    <input pInputText disabled="disabled" *ngIf="isSplitTransaction()" value="Transaction répartie">
  </div>
  <div class="amount col-12 md:col-6 lg:col-2" *ngIf="!quickMode"><input type="number" [class]="debitStyleClass(transaction.entries[0])" pInputText [(ngModel)]="transaction.entries[0].debit" (ngModelChange)="changeMainDebit($event)" placeholder="Débit"></div>
  <div class="amount col-12 md:col-6 lg:col-2">
    <input type="number" pInputText [(ngModel)]="transaction.entries[0].credit" (ngModelChange)="changeMainCredit($event)" [placeholder]="quickMode ? 'Montant' : 'Crédit'">
    <p-button class="transMenu" icon="pi pi-ellipsis-v" (click)="transMenu.toggle($event)"></p-button>
    <p-menu #transMenu [popup]="true" [model]="transMenuContent"></p-menu>
  </div>
</div>

<div *ngIf="expanded" class="contrepartie">
  <div *ngFor="let ctp of transaction.entries" class="grid p-fluid">
    <div class="col-12 md:col-6 lg:col-2">
    </div>
    <div class="col-12 md:col-6 lg:col-1"><input type="text" pInputText [(ngModel)]="ctp.reference" placeholder="Référence"></div>
    <div class="col-12 md:col-6 lg:col-2"><input type="text" pInputText [(ngModel)]="ctp.description" placeholder="Description"></div>
    <div class="col-12 md:col-6 lg:col-3"><app-account-selector (onAccountSelect)="setAccount($event, ctp)" [account]="ctp.account"></app-account-selector> </div>
    <div class="amount col-12 md:col-6 lg:col-2"><input type="number" pInputText [(ngModel)]="ctp.debit" (ngModelChange)="changeDebit($event, ctp)" placeholder="Débit"></div>
    <div class="amount col-12 md:col-6 lg:col-2"><input type="number" pInputText [(ngModel)]="ctp.credit" (ngModelChange)="changeCredit($event, ctp)" placeholder="Crédit"></div>
  </div>
</div>

  <div class="grid">
    <div class="col-12 md:col-4 lg:col-2" *ngIf="createMode && !quickMode">
      <p-inputSwitch [(ngModel)]="multi" id="multiSwitch"></p-inputSwitch>
      <label for="multiSwitch" style="margin-left:0.5rem">Saisie en masse</label>
    </div>
    <div class="col-12 md:col-4 lg:col-2">
      <button pButton type="button" icon="pi pi-undo" label="Annuler" (click)="cancel()"></button>
    </div>
    <div class="col-12 md:col-4 lg:col-2">
      <button pButton type="button" icon="pi pi-check-square" label="Valider" (click)="save()"></button>
    </div>


  </div>
</div>
