<p-treeTable [value]="accounts" (onNodeExpand)="onNodeExpand($event)">
  <ng-template pTemplate="caption">
    <div class="table-header">Vue globale des comptes
      <span style="float:right">
        <a (click)="refresh()"><i class="pi pi-refresh"></i></a>
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Compte</th>
      <th>Solde</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr>
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        <a routerLink="accounts/details/{{rowData._id}}">
          {{rowData.name}}
        </a>
      </td>
      <td>
        <app-balance [account]="rowData"></app-balance>
      </td>
    </tr>
  </ng-template>
</p-treeTable>
<br>
<p-button (click)="quickInputs.toggle($event)">Saisie rapide</p-button>&nbsp;
<p-menu #quickInputs [popup]="true" [model]="quickInputsMenu"></p-menu>
<p-button routerLink="/accounts/create" *ngIf="user.admin">Nouveau compte</p-button>
