<p-treeTable [value]="accounts" (onNodeExpand)="onNodeExpand($event)">
  <ng-template pTemplate="header">
    <tr>
      <th>Compte</th>
      <th>Solde</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr>
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{rowData.name}}
      </td>
      <td>
        <app-balance [account]="rowData"></app-balance>
      </td>
    </tr>
  </ng-template>
</p-treeTable>
