<p-tree [value]="accounts" (onNodeExpand)="onNodeExpand($event)">
  <ng-template let-rowNode pTemplate="default">
    <p-card routerLink="accounts/details/{{rowNode.data._id}}">
      {{rowNode.data.name}}
      <ng-template pTemplate="footer">
        <app-balance [account]="rowNode.data"></app-balance>
      </ng-template>
    </p-card>
  </ng-template>
</p-tree>

<br>
<p-button (click)="quickInputs.toggle($event)">Saisie rapide</p-button>&nbsp;
<p-menu #quickInputs [popup]="true" [model]="quickInputsMenu"></p-menu>
<p-button routerLink="/accounts/create" *ngIf="user.admin">Nouveau compte</p-button>
